*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
        width: auto;
        min-height: 100vh;
        background-color: #3d357d;
        text-align: center;
}
h1 img{
    width: 300px; 
    text-align: center;
    padding-top: 30px;
    user-select: none;
}

button{
    margin-top: 100px;
    padding: 20px;
    color: #3d357d;
    background-color: white;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    font-weight: 00;    
}
button:hover{
    background: #ffffff;
    color: #050801;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 200px #03e9f4;
    -webkit-box-reflect:below 1px linear-gradient(transition, #0005)            
    }
#televisores-container{
    display: flex;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
    max-width: 1366px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 30px;
}
#televisores-container img{
    width: 400px;
    border-radius: 40px;
    padding: 10px;
}
#televisores-container li{
    color: white;
    list-style: none;
}